.input {
  display: grid;
  row-gap: 8px;

  &__label {
    font-size: 16px;
    color: var(--color-light-10);
  }

  &__action {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding-inline: 16px;
    height: var(--input-height);
    font-size: 16px;
    color: var(--color-dark);
    background-color: var(--color-light);
    border: var(--border);
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);

    &::placeholder {
      color: var(--color-gray);
    }

    &:focus {
      outline: none;
    }
  }
}