.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--input-height);
  padding-inline: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  transition-duration: var(--transition-duration);
  background-color: var(--color-light);
  box-shadow: var(--box-shadow);

  &--delete {
    font-size: 8px;
    width: var(--input-height);
  }

  &:hover {
    background-color: var(--color-gray);
    color: var(--color-light);
  }

  &:active {
    scale: 1.05;
  }
}