:root {
  --color-dark: #232323;
  --color-gray: #3b3b3b;
  --color-light: #FAFAFA;

  --border: 1px solid var(--color-light);
  --border-radius: 5px;

  --box-shadow: 0 2px 5px var(--color-gray);

  --container-width: 1200px;

  --padding-x: 18px;

  --font-main: 'Montserrat', sans-serif;
}